{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'sider/header.html' %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {% include 'sider/nav_bar.html' %}
  <div class="content-wrapper px-5 py-5">
    <div class="container-fluid">
      <!-- Title Section-->
      <div class="row container-fluid">
        <h1 style="font-family: Arial; font-weight: bold;">Add Item</h1>
      </div>
      <hr><br>
      <form action="/action_page.php">
        <div class="row">
          <div class="mb-3 col-2">Item Name:</div>
          <div class="mb-3"><input type="text" name="ItemName"></div>
        </div>
        <div class="row">
          <div class="mb-3 col-2">Choose Category:</div>
          <div class="mb-3">
            <select name="Category">
              <option>Make a Selection</option>
              <option>Fruit</option>
              <option>Vegetable</option>
              <option>Drinks</option>
              <option>Sausage</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-2">Upload Picture</div>
          <div class="mb-3">
            <span class="btn btn-default btn-file">
              Browse… <input type="file" id="imgInp">
            </span>
            <!-- <input type="text" class="form-control " readonly> -->
            <img id='img-upload'/>
          </div>
        </div>
        <button class="col-3 offset-md-2" type="submit" style="background-color: #ff66cc;"><font color="white">Add</font></button>
      </form>
    </div>
    {% include 'sider/footer.html' %}
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'sider/inc_scripts.html' %}
  </div>
</body>

</html>